.footer {
  padding:60px 0;
  background: $darkGray;
  text-align: center;
  color: rgba($white, 0.5);

  span {
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
  }

  .social-media {
    display: flex;
    justify-content: center;
    align-items:center;
    margin-bottom: 25px;

    li {
      padding: 1px 12px;
      &:not(:last-child) {border-right: 1px solid rgba($white, 0.5)}
    }
    a {
      font-size: 14px;
      transition: 0.3s;

      &:hover {
        color: $red;
      }
    }
  }
}
