.main-block {
  background: rgb(34,35,195);
  background:  $lightBlueGradient;

  &__inner {
    min-height: 600px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__intro {

    &-heading {
      display: inline-block;
      font-family: 'Montserrat', sans-serif;
      font-weight: 900;
      font-size: 65px;
      text-align: center;
      line-height: 1.2;
      color: $white;
      text-transform: uppercase;
      padding: 30px 34px;
      border-top: 3px solid rgba($white, 0.7);
      border-bottom: 3px solid rgba($white, 0.7);
      letter-spacing: 0.15em;

      @media screen and (max-width: 870px) {font-size: 48px;}
    }
    &-tags {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;

      @media screen and (max-width: 480px) {
        flex-direction: column;
        align-items: center;
        padding-top: 50px;
      }
      
      &-item {
        font-size: 25px;
        color: rgba($white, 0.7);
        line-height: 1.2;
        @media screen and (max-width: 870px) {font-size: 18px;}
        @media screen and (max-width: 480px) { line-height: 1.7;}
      }
    }
  }
}

