$white:#fff;
$black:#000;
$red:#ff2b4a;
$darkBlue:#002453;
$purple:#835aeb;
$blue:#10c6fc;
$darkText:#4c4c4c;
$turquoise:#64cbc0;
$darkGray: #222222;
$lightGreen: #64cbc0;

$purpleGradient: linear-gradient( 45deg, rgba(158,53,105,.3) 0%, rgba(93,35,96,.3) 100%);
$lightBlueGradient: linear-gradient(180deg, rgba(34,35,195,1) 2%, rgba(45,154,253,1) 100%);
$darkBlueGradient: linear-gradient(45deg, rgba(78,40,121,1) 0%, rgba(80,73,189,1) 100%);